<!DOCTYPE html>
<html>
<head>
	<title>Aplicacion Libreria</title>
</head>
<body>
    <div>
    {% for libro in libro_list %}
        <div style="border: 4px groove; ">
            <h4>{{libro.titulo }}</h4>
            <h5>{{libro.autor}}</h5>
            <p>Editorial: {{libro.editorial }}</p>
            <p>Fecha de publicacion: {{libro.fecha_de_publicacion }}</p>
            <p>Disponible actualmente:
                {% if libro.disponible %}
                    Si
                {% else %}
                    No
                {% endif %}
            </p>
        </div>
    {% endfor %}
    </div>

{% if page_obj.has_previous %}
        <a href="{% url 'lista_libro' %}?page={{ page_obj.previous_page_number }}">
        Ir a página {{ page_obj.previous_page_number }}
        </a>
{% endif %}
        La página actual es {{ page_obj.number }}
{% if page_obj.has_next %}
        <a href="{% url 'lista_libro' %}?page={{ page_obj.next_page_number }}">
        Ir a página {{ page_obj.next_page_number }}
        </a>
{% endif %}


</body>
</html>